<%= render 'shared/page_title', title: "all recipes" %>

<div class="pagination justify-content-center apple_pagination">
  <%= will_paginate %>
</div>

<%= render 'recipe', obj: @recipes %>

<div class="pagination justify-content-center apple_pagination">
  <%= will_paginate %>
</div>