<div class="jumbotron center">
  <h1>Welcome to RecipeShare</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Sign up for the app", signup_path, class: "badge badge-pill badge-info", id: 'specialButton' %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Explore Recipes</h2>
    <p>Anyone can look at the recipes! Even Guests. Sign up to add your own! Share with your friends!</p>
    <p><%= link_to "View all Recipes", recipes_path, class: "badge badge-pill badge-info", id: 'specialButton' %></p>
  </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="badge badge-pill badge-info" href="#" role="button" id='specialButton'>View details »</a></p>
 </div>
  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
    <p><a class="badge badge-pill badge-info" href="#" role="button" id='specialButton'>View details »</a></p>
  </div>
</div>