@import "bootstrap";

html {
  height: 100%;
}

body {
  width: 100%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fff5f5+0,ffeded+45,ffe5e5+100 */
background: #fff5f5; /* Old browsers */
background: -moz-linear-gradient(top,  #fff5f5 0%, #ffeded 45%, #ffe5e5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fff5f5 0%,#ffeded 45%,#ffe5e5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fff5f5 0%,#ffeded 45%,#ffe5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff5f5', endColorstr='#ffe5e5',GradientType=0 ); /* IE6-9 */


}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.badge-pill {
	background-color: #AA5575;
	border: 1px solid #41BABE;
	text-decoration: none;
}

.badge-pill:hover {
	background-color: #41BABE;
	border: 1px solid #AA5575;
	text-decoration: none;
	a {
	  color: #AA5575;
	  text-decoration: none;
	}
}

.spBtn {
	background-color: #AA5575;
	border: 1px solid #41BABE;
	color: #41BABE;
}

#specialButton:hover {
	background-color: #41BABE;
	color: #AA5575;
	text-decoration: none;
	border: 1px solid #AA5575;
}

// #specialButton:hover {
// 	background-color: #f6dd09;
// 	color: #41BABE;
// 	text-decoration: none;
// 	border: 1px solid #41BABE;
// }

.jumbotron h1 {
  color: #41BABE;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h2 {
  color:  #41BABE;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-image: asset-url('cover_image.jpg');
  background-size: cover;
  height: 300px;
}

.page-footer {
  background-color: #AA5575;
}

.description {
  margin-top: 0;
}

.card a {
  color: #41BABE;
}

.chef_info {
  margin-top: 10px;
}

.recipe-actions {
  padding-top: 5px;
  a {
    color: #000808;
  }
}

.edit-badge {
  padding: 8px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title a {
  color: #41BABE;
  font-weight: bold;
  font-size: 1em;
}

.chef-title a:hover {
	color: #AA5575;
	text-decoration: none;
}

.chef-delete a {
  color: #AA5575;
}

.chef-delete a:hover {
	color: #41BABE;
	text-decoration: none;
}

.cancel a {;
  color: #AA5575;
}

.cancel a:hover {
	 color: #f40bad;
	text-decoration: none;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.input_checkbox input {
  width: auto !important;
  margin-right: 2px;
}

.checkbox {
  margin-left: 1rem;
}

.bg-c-gradient {
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bg-c-gradient2 {
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.apple_pagination {
  // background: #f1f1f1;
  // border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #AA5575; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #AA5575;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: #AA5575 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: #AA5575; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

