<footer class="page-footer font-small fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright float-right py-3 mr-1">© 2019 Copyright: Rhonda Tinkham
  </div>
  <!-- Copyright -->

</footer>
